@use '@angular/material' as mat;

@include mat.core();

$caturday-primary: mat.define-palette(mat.$indigo-palette);
$caturday-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$caturday-warn: mat.define-palette(mat.$red-palette);

$caturday-theme: mat.define-light-theme((
  color: (
    primary: $caturday-primary,
    accent: $caturday-accent,
    warn: $caturday-warn,
  )
));

@include mat.all-component-themes($caturday-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



mat-sidenav {
  width: 300px;
}

mat-sidenav-container {
  min-height: 100vh;
  margin-top: 80px;
}

mat-sidenav-content {
  padding: 20px;
}

mat-toolbar {
  height: 80px;

  &#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  &#footer {
    mat-toolbar-row {
      display: flex;
      justify-content: flex-end;
    }
  }
}
